html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font:inherit inherit 100% inherit;margin:0;outline:0;padding:0;vertical-align:baseline}
html{overflow-y:scroll;font-size:62.5%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{background:#fff}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
caption,th,td{font-weight:normal;text-align:left}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:"" ""}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
a img{border:0}
html,body,* html #wrapper{height:100%}
body,button,input,select,textarea{color:#666;font:1.3rem/1.7 Georgia,serif}
body{background:#fff url(http://2.bp.blogspot.com/-2zlWu8-lmbA/U5NLOKHMYgI/AAAAAAAABUo/vLvWFKKL7Ks/s1600/body_bg_x2.jpg)}
h1,h2,h3,h4,h5,h6{clear:both;margin:0 0 10px 0}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
h1{font-size:24px;line-height:30px}
h2{font-size:22px;line-height:26px}
h3{font-size:18px;line-height:24px}
h4{font-size:16px;line-height:20px}
h5{font-size:14px;line-height:18px}
h6{font-size:14px;line-height:18px}
hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}
p{margin-bottom:1.5em}
ul,ol{margin:0 0 1.5em 3em}
ul{list-style:disc}
ol{list-style:decimal}
ul ul,ol ol,ul ol,ol ul{margin-bottom:0;margin-left:1.5em}
dt{font-weight:bold}
dd{margin:0 1.5em 1.5em}
b,strong{font-weight:bold}
dfn,cite,em,i{font-style:italic}
blockquote{margin:0 1.5em}
address{margin:0 0 1.5em}
pre{background:#eee;font:1.5rem/1.6 "Courier 10 Pitch",Courier,monospace;margin-bottom:1.6em;padding:1.6em;overflow:auto;max-width:100%}
code,kbd,tt,var{font:15px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace}
abbr,acronym{border-bottom:1px dotted #666;cursor:help}
mark,ins{background:#fff9c0;text-decoration:none}
sup,sub{height:0;font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{bottom:1ex}
sub{top:.5ex}
small{font-size:75%}
big{font-size:125%}
figure{margin:0}
table{margin:0 0 1.5em;width:100%}
th{font-weight:bold}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid #ccc;border-color:#ccc #ccc #bbb #ccc;border-radius:3px;background:#fafafa;background:-moz-linear-gradient(top,#fafafa 60%,#e6e6e6 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(60%,#fafafa),color-stop(100%,#e6e6e6));background:-webkit-linear-gradient(top,#fafafa 60%,#e6e6e6 100%);background:-o-linear-gradient(top,#fafafa 60%,#e6e6e6 100%);background:-ms-linear-gradient(top,#fafafa 60%,#e6e6e6 100%);background:linear-gradient(top,#fafafa 60%,#e6e6e6 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa',endColorstr='#e6e6e6',GradientType=0 );box-shadow:inset 0 2px 1px #fff;color:rgba(0,0,0,.8);cursor:pointer;-webkit-appearance:button;font-size:12px;font-size:1.4rem;padding:1.12em 1.5em .88em;text-shadow:0 1px 0 rgba(255,255,255,.5)}
button:hover,html input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{background:#f5f5f5;background:-moz-linear-gradient(top,#f5f5f5 60%,#dcdcdc 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(60%,#f5f5f5),color-stop(100%,#dcdcdc));background:-webkit-linear-gradient(top,#f5f5f5 60%,#dcdcdc 100%);background:-o-linear-gradient(top,#f5f5f5 60%,#dcdcdc 100%);background:-ms-linear-gradient(top,#f5f5f5 60%,#dcdcdc 100%);background:linear-gradient(top,#f5f5f5 60%,#dcdcdc 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5',endColorstr='#dcdcdc',GradientType=0 );border-color:#bbb #bbb #aaa #bbb}




#main{padding:3px 0 90px 0;width:900px;margin:0 auto;word-wrap:break-word;overflow:hidden;}

#full-content{padding:2px 0}
.post{background:transparen;padding:10px 30px;margin-bottom:2px;font-family:Tahoma,georgia;}



 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 

.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {margin: 0; padding: 0; display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}



a#GRbt,a.GRbt,a#GRbt:hover,a.GRbt:hover{text-decoration:none;}
.btst1{background:#FF8C00;text-transform:capitalize;}
.btst2{background:#996600;text-decoration:blink;}
.btst3{background:#FF0000;font-family:Verdana;}
#top-wrapper{background:url(http://2.bp.blogspot.com/-2zlWu8-lmbA/U5NLOKHMYgI/AAAAAAAABUo/vLvWFKKL7Ks/s1600/body_bg_x2.jpg) repeat-x;width:100%;margin:0 auto;padding:0 auto;-moz-box-shadow:0 3px 3px 3px rgba(0,0,0,0.4);-webkit-box-shadow:0 3px 3px 3px rgba(0,0,0,0.4);border-bottom:0px solid #444;border-top:0px solid #f1c822}
#topbar{width:980px;height:40px;margin:0 auto}
#top{width:100%}
#top,#top ul{list-style:none;font-family:Arial, serif;margin:0;padding:0}
#top a{display:block;text-decoration:none;font:normal 11px Arial;text-transform:none;color:#CECECF;border-right:0px solid #484747;border-left:1px solid #191919;padding:7px 10px 7px}
#top a.arrow{background-image:url(http://3.bp.blogspot.com/-LzmPTNyR6po/TwETZufjSTI/AAAAAAAAATo/oisHmXUjmSY/s1600/arrow_white.gif);background-repeat:no-repeat;background-position:right center;padding:7px 24px 7px 10px}
#top li{float:left;position:static;width:auto}
#top li ul,#top ul li{width:170px}
#top ul li a{text-align:left;color:#fff;font-size:12px;font-weight:400;text-transform:none;font-family:Arial;border:none;padding:5px 10px}
#top li ul{z-index:100;position:absolute;display:none;background:#222;padding-bottom:0px;-moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4)}
#top li:hover a,#top a:active,#top a:focus,#top li.hvr a{background-color:#222;color:#fff}
#top li:hover ul,#top li.hvr ul{display:block}
#top li:hover ul a,#top li.hvr ul a{color:#edfdfd;background-color:transparent;text-decoration:none}
#top li ul li.hr{border-bottom:1px solid #333;border-top:1px solid #000;display:block;font-size:1px;height:0;line-height:0;margin:0px 0}
#top ul a:hover{background-color:#555!important;color:#fff!important;text-decoration:none}
#top a span,#top a.arrow span{font:bold 12px Arial;color:#888;display:block;line-height:16px;text-transform:uppercase;text-shadow: 1px 2px 2px #000}
#top li:hover a span,#top li:hover a.arrow span{color:#f1c822}

img.label_thumb{float:left;background:#444; border:1px solid #191919; border-bottom:1px solid #666; border-right:1px solid #666;height:75px;width:80px;margin:0 0 10px 10px;padding:2px}
img.label_thumb:hover{border:1px solid #4e4d4d;background:#333}

.navbar{width:100%;margin:0 auto;padding:0 auto}
.nav{width:980px;height:24px;margin:0 auto;padding:4px 0}
.nav ul{padding-left:7px;color:#666;list-style-type:none;font:normal 12px Arial, Helvetica,Verdana,sans-serif;margin:0}
.nav li{display:inline;margin:0}
.nav li a{filter:alpha(opacity=40);opacity:0.4;float:left;display:block;text-decoration:none;font-size:12px;font-weight:700;text-transform:none;color:#fff;padding:7px 10px 7px;background:#000; -moz-border-radius:4px 4px 0 0; -khtml-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;color:fff;margin-right:2px;border:1px solid #6c6c6c;}
.nav li a:visited{color:#fff}
.nav li a:hover{background:#222;color:#eaeaea;text-decoration:none}
.navsearch{width:300px;float:right;margin:0 auto;padding:0 auto}


.bt1:hover{color:#CCFF00;background:#333399;}
.bt2{
background:#4682B4 url(http://gubhugreyotprojects-smallbg.googlecode.com/svn/bgButtons-1V5H5.gif);
border-radius: 2px 2px;
border: 1px solid #99CCCC; 
margin: 2px;
padding: 2px 2px 2px 2px;
min-width: 115px;
color: white;
font-family: helvetica, arial, sans-serif;
font-size: 20px;
font-weight: bold;
letter-spacing: 0px;
word-spacing: 0px;
text-align: left;
text-shadow: 0px 0px 0px black;
}
.bt2:hover{color:#FF0000;background:#333;} 
.bt3{ 
background:white;
border:1px solid #FF8C00;
border-radius:9px;
padding: 6px 8px 4px 8px;
color:black;
font-family:Arial;
font-size: 15px;
font-weight:bold;
letter-spacing: -1px;
font-style: italic;
text-transform: uppercase;
text-align: left;
}
.bt3:hover{background:#FF8C00;}
.bt4{
background:#4b1701;
border:1px solid #d8dada;
border-radius:11px;
margin:1px;
padding:1px 8px 3px;
box-shadow:1px 1px 3px #a1d7fd;
color:#0101ff;
font-size: 16px;
font-family:Times New Roman;
font-weight: bold;
letter-spacing: 0px;
text-shadow: 0px 1px 1px #FFCC33;
}
.bt5{
background:#336666 url(http://gubhugreyotprojects-smallbg.googlecode.com/svn/bgButtons-2H15V25.png) center repeat;
border:1px solid #33CC99;
border-radius:1px;
margin:1px;
padding:2px 6px 4px;
box-shadow:1px 1px 2px #333;
color:#0000FF;
font-size:12px;
font-family:Cursive;
font-weight:bold;
letter-spacing:0px;
text-shadow: 0px 1px 1px #FFCC33;
}
.bt5:hover{color:#6CF;text-shadow:1px 1px 1px #000;background:url(http://gubhugreyotprojects-smallbg.googlecode.com/svn/bgButtons-3V31H33.gif);}   
.bt4:hover{color:red;background:#CCCCCC;}
.bt1,.bt2,.bt3,.bt4,.bt5,.btst1,.btst2,.btst3{
cursor:pointer;
transition:0.8s;
-o-transition:0.8s;
-moz-transition:0.8s;
-webkit-transition:0.8s;
-ms-transition:0.8s;
}
.bt6{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #E00BEB;
behavior: url(http://pace-tv.googlecode.com/files/border-radius.htc);
border-radius: 5px;
border: 2px solid #19E526;
color: #ecf2f7;
font-family: Arial,Helvetica,sans-serif;
height: 20px;
margin: 0px 0px 2px 0px;
padding: 0px 0px 0px 0px;
text-align: center;
text-shadow: 1px 1px 1px #000000;
width: 100%%;
}
.bt6:hover{color:#6CF;text-shadow:1px 1px 1px #000;background:url(http://gubhugreyotprojects-smallbg.googlecode.com/svn/bgButtons-3V31H33.gif);}
.bt7 {
-moz-box-shadow:inset 0px 0px 0px 0px #f9eca0;
-webkit-box-shadow:inset 0px 0px 0px 0px #f9eca0;
box-shadow:inset 0px 0px 0px 0px #f9eca0;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #13f013), color-stop(1, #f01ff0) );
background:-moz-linear-gradient( center top, #13f013 5%, #f01ff0 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#13f013', endColorstr='#f01ff0');
background-color:#13f013;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
border:3px solid #eddd32;
display:inline-block;
color:#ffffff;
font-family:georgia;
font-size:12px;
font-weight:bold;
padding:0px 1px;
text-decoration:none;
text-shadow:1px 1px 0px #ded17c;
}.bt7:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f01ff0), color-stop(1, #13f013) );
background:-moz-linear-gradient( center top, #f01ff0 5%, #13f013 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f01ff0', endColorstr='#13f013');
background-color:#f01ff0;
}.bt7:active {
position:relative;
top:1px;
}
a#GRbt,a.GRbt,a#GRbt:hover,a.GRbt:hover{text-decoration:none;}
.btst1{background:#FF8C00;text-transform:capitalize;}
.btst2{background:#996600;text-decoration:blink;}
.btst3{background:#FF0000;font-family:Verdana;}
.menuku{height:25px;background:transparen}
.menuku ul{margin:0;padding:0}
.menuku li{list-style:none;color:#FFF;float:left;display:inline;position:relative;margin:0;padding:0}
.menuku li a{display:block;background:0;background:url(http://1.bp.blogspot.com/-
cos2ZwDvBNk/UEXi22DMIpI/AAAAAAAAByE/aYUV5lq7YNI/s1600/menuku+batas.png) no-repeat center right;color:#FFF;text-
decoration:none;font:bold 14px Arial;text-shadow: -1px -1px 0 #88140e;outline:none;margin:0;padding:12px 13px;opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 */}
.menuku li a:hover{background:#2a2a2a;text-shadow: -1px -1px 0 #000}
.menuku li ul{position:absolute;z-index:10;left:0;top:100%;height:30px;width:120px;display:none;margin:0;padding:0}
.menuku li ul a{background:#2a2a2a;border-left:none;font:12px Arial;border-right:none;border-top:1px solid 
#484848;border-bottom:1px solid #000;display:block;padding:2px 10px;text-shadow: -1px -1px 0 #000;opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 */}
.menuku li ul a:hover{background:#484848;}
.menuku li ul li{float:none;display:block;width:auto}
.menuku li ul ul{top:0;left:100%}
.menuku li a:hover,.menuku ul li a:hover{color:#ccc}
#box-main-container {
clear:both;
}
.box-column {
padding:0px 10px 10px 10px;
border:1px dotted $bordercolor;
}
